.container {
	max-width: 1205px;
	margin: 0 auto;
	margin-top: 70px;
}
header {
	height: 65px;
	line-height: 65px;
	margin-bottom: 50px;
}
.logo {
	float: left;
}
nav {
	float: right;
}
nav ul li{
	font-weight: bold;
	font-size: 14px;
	float: left;
}
nav ul li a {
	margin-top: 15px;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	color: black;
	margin-right: 20px;
	border: 1px solid transparent;
}
nav ul li a:hover,nav ul li a.one {
	background-color: black;
	color: white;
}
.verti {
	border-radius: 5px;
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 40px;
	background-color: white;
}
.verti-left h1 {
	color: #444444;
	font-size: 70px;
	margin-bottom: 40px;
}
.verti-left p {
	color: #696969;
	font-size: 40px;
	line-height: 65px;
}
.verti-left {
	margin-left: 40px;
	float: left;
	margin-top: 80px;
}
.verti-right {
	margin-right: 40px;
	margin-top: 80px;
	float: right;
}
.verti-right h2 a {
	max-width: 385px;
	height: 95px;
	font-size: 35px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #0090c5;
	display: block;
	color: white;
	margin-top: 20px;
	background-color: #0090c5;
	line-height: 95px;
	text-align: center;
}
.verti-right h2 i {
	line-height: 95px;
	margin-left: 65px;
	margin-right: 10px;
	float: right;
}
.verti-right h3 a {
	max-width: 385px;
	height: 95px;
	font-size: 35px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #f3f3f3;
	display: block;
	color: black;
	margin-top: 20px;
	background-color: #f3f3f3;
	line-height: 95px;
	text-align: center;
}
.verti-right h3 i {
	line-height: 95px;
	margin-left: 115px;
	margin-right: 10px;
	float: right;
}
.one-third {
	width: 30%;
	float: left;
	margin-right: 5%;
}
.one-third.last {
	margin-right: 0;
}
.subtitle {
	background-color: white;
	border:1px solid #f0f0f0;
	border-radius: 5px;
}
.subtitle img {
	width: 100%;
}
.subtitle-inner {
	width: 85%;
	margin: 0 auto;
}
.subtitle-inner h1 {
	margin-top: 70px;
	font-size: 22px;
	margin-bottom: 20px;
}
.subtitle-inner p {
	margin-bottom: 40px;
	line-height: 40px;
	color: #808997;
}
.stuff {
	padding-bottom: 80px;
	margin-top: 40px;
	padding-top: 80px;
	background-color: white;
}
.stuff-left h2 {
	font-weight: bold;
	font-size: 31px;
	margin-bottom: 20px;
}
.stuff-right h1 {
	font-weight: bold;
	margin-bottom: 20px;
}
.stuff-left {
	float: left;
	width: 30%;
	margin-right: 75px;
}
.stuff-left ul li {
	display: inline-block;
	width: 48%;
	margin-right: 1%;
}
.stuff-left ul {
	margin-bottom: 30px;
}
.stuff-left ul li img {
	width: 100%;
	border-radius: 7px;
	margin-bottom: 20px;
}
.stuff-left a {
	width: 150px;
	height: 60px;
	font-size: 22px;
	color: white;
	display: block;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	border: 1px solid #0090c5;
	background-color: #0090c5;
	border-radius: 7px;
}
.stuff-left a i {
	padding-right: 5px;
}
.stuff-right p {
	color: #77777b;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 45px;
}
.stuff-right p a{
	text-decoration: underline;
	color: #3f96c6;
}
.stuff-right h3 a {
	display: inline-block;
	max-width: 292px;
	height: 62px;
	padding: 0 10px;
	text-align: center;
	line-height: 62px;
	border: 1px solid #0090c5;
	color: white;
	font-size: 20px;
	font-weight: bold;
	background-color: #0090c5;
	border-radius: 7px;
}
.stuff-right h3 i {
	padding-right: 6px;
}
.one-forth {
	width: 24%;
	margin-right: 1%;
	float: left;
}
.one-forth:last-child {
	margin-right: 0;
}
.one-forth h1 {
	font-size: 30px;
	margin-bottom: 40px;
}
.one-forth ul li {
	margin-bottom: 20px;
	font-size: 17px;
}
.one-forth ul li a {
	color: #757575;
	text-decoration: underline;
}
.one-forth ul li a:hover {
	text-decoration: none;
}
.foot i {
	font-size: 40px;
	margin-right: 5px;
	color: #555555;
	margin-bottom: 20px;
}
.foot ul li.margin {
	margin-bottom: 10px;
	color: #757575;
}
.foot {
	margin-bottom: 60px;
}
.contact {
	text-align: center;
	color: #bbbbbb;
}
.contact p {
	font-size: 18px;
	padding-bottom: 150px;
}
.contact p span {
	border-left: 1px solid #bbbbbb;
	padding-left: 10px;
}
.contact span input {
	width: 160px;
	background-color: #f3f3f3;
	height: 60px;
}
img {
	max-width: 100%;
}
.icon {
	display: none;
}
@media only screen and (max-width: 768px) {
	.icon{
		color: black;
		position: absolute;
		top: 70px;
		display: block;
		right: 10px;
	}
	nav ul {
		border-radius: 10px;
		position: absolute;
		top: 115px;
		right: 10px;
		width: 50%;
		background-color: black;
		text-align: center;
		display: none;
	}
	nav ul li {
		width: 100%;
		margin: 0 auto;
	}
	nav ul li a:hover,nav ul li a.one{
		background-color: white;
		color: black;
	}
	nav ul li a{
		margin: 0;
		color: white;
	}
	.verti{
		width: 100%;
		padding: 0;
		margin: 0;
		border: 0;
		text-align: center;
	}
	.verti-left,.verti-right {
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.verti-left h1 {
		font-size: 50px;
	}
	.verti-left p {
		font-size: 22px;
	}
	.verti-right h2 a,.verti-right h3 a {
		font-size: 22px;
		
		margin: 0 auto;
		padding: 0;
		border: 0;
	}
	.stuff {
		width: 100%;
		margin: 0;
		height: 100%;
		padding: 0;
	}
	.stuff-left,.stuff-right,.one-third,.one-forth {
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 40px 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1020px){
	.verti-left,.verti-right {
		width: 100%;
	}
	.verti-right a {
		float: left;
	}
}